# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Django files
db.sqlite3

# Local uploads (we use S3 instead)
media/
*.txt

# OS files
.DS_Store

# Gunicorn runtime files
*.sock
*.log
run/
